.container{
    width: 100vw;
    height: 100vh;
    padding: 10px;
    /* background-color: rgb(75, 26, 26); */
}

.accordionBody{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
}

.heading > h1{
  font-size: 3rem;
  font-weight: 900;
  padding: 20px;
}

.DisplayOutput{
  width: 80vw;
  /* background-color: darkblue; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: start;
  padding: 20px 20px;
}