.MidSection{
  background-color: black;
  /* background-color: darkgoldenrod; */
  width: 100vw;
  height: 100vh;
  color: white;
  margin: auto;
  /* padding: 50px; */
  /* overflow: hidden;   */
}

.MidSection .sectionOne .container{
  /* background-color: red; */
  width: 80vw;
  padding: 10px;
  position: relative;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 50px auto; */

}

.MidSection .sectionOne .container .container-md{
 /* background-color: blue; */
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 10px;
 height: 70vh;
 position: relative;

}

.MidSection > .sectionOne > .container > .container-md > .heading{
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}

.MidSection > .sectionOne > .container > .container-md > .heading > h1 {
  /* font-size: 45px; */
  font-size: 3rem;
  font-weight: 700;
  color: white;
  text-align: start;

}

.MidSection .sectionOne .container .container-md .heading h5 {
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  word-wrap: break-word;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -52%);
  width:fit-content;
  height: fit-content;
  object-fit: cover;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  max-width: 100%;
  height: auto;
}

.MidSection .baseline{
  height: 1.5vh;
  width: 100vw;
  background-color:rgb(61, 61, 61);
  position: absolute;
  bottom: 0;
}

/* Media Query for smaller devices */
@media screen and (max-width: 768px) {
  .container-md{
    display: flex;
    flex-direction: column;
  }

  .MidSection .sectionOne .container .container-md .heading h1 {
    text-align: center;
  }

  video {
      width: 80%;
  }

  
}

@media (min-width:769px) and (max-width: 1550px) {
  video {
      width: 69%;
  }
  .MidSection .sectionOne .container .container-md .heading {
    padding: 10px;
    
  }
  /* .MidSection .sectionOne .container .container-md .heading h5 {
    padding: 10px;
    
  } */



}