.MidSection{
  background-color: black;
  /* background-color: darkgoldenrod; */
  width: 100vw;
  height: 100vh;
  color: white;
  margin: auto;
}

.MidSection .sectionOne .container{
  /* background-color: red; */
  width: 80vw;
  padding: 10px;
  position: relative;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 50px auto; */

}

.MidSection .sectionOne .container .container-md{
 background-color: blue;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 10px;
 position: relative;

}

.MidSection > .sectionOne > .container > .container-md > .heading{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.MidSection > .sectionOne > .container > .container-md > .heading > h1 {
  font-size: 45px;
  font-weight: 700;
  color: white;
}

.MidSection .sectionOne .container .container-md .heading h5 {
  font-size: 22px;
  line-height: 30px;
}

.AnimationTV{
  position: absolute;
}

.displayContent{
  background-color: #663399;
  position: relative;
  width: 20vw;
  display: flex;
}

.displayContent img{
position: absolute;
top: 0;
left: 0;
}

.displayContent video{
  width: 10vw;
  /* position: absolute; */
  top: 10%;
  left: 0;
  margin: 5vw;
}

.AnimationTV img{
  /* width: 40vw;
  position: relative;
  background: url(../components/Netflix_TV.mp4);
  z-index: 1; */
}

.AnimationTV video{

    /* position: absolute;
    left: 54.8%; */
    /* left: 50%;
    top: 26.5%; */
}

.MidSection .baseline{
  height: 1.5vh;
  width: 100vw;
  background-color:rgb(61, 61, 61);
  position: absolute;
  bottom: 0;
}